@model Data.Models.Passenger


@{
    ViewData["Title"] = "Create";
}

<script type='text/javascript'>
    var savedChanges = false;
    
    function confirmFormSubmission()
    {        
        savedChanges = true;
    }  

    window.onbeforeunload = function () {
        
        if (!savedChanges)
        {
            return 'Are you sure you want to leave?';
        }
    };

</script>

<h1>Create passengers for the reservation</h1>

<h4>Passenger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalIdentificationNumber" class="control-label"></label>
                <input asp-for="PersonalIdentificationNumber" class="form-control" />
                <span asp-validation-for="PersonalIdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketType" class="control-label"></label>
                <input asp-for="TicketType" class="form-control" />
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Did you finish adding passengers for the reservation?</label>
                <select name="finishAdding">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="form-group">
                @*<label asp-for="ReservationId" class="control-label"></label>*@
                <input type="hidden" asp-for="ReservationId" value="@ViewData["ReservationId"]" class="form-control" />
                @*<select asp-for="ReservationId" class ="form-control" asp-items="ViewBag.ReservationId"></select>*@
            </div>
            <div class="form-group">
                <input type="submit" onclick="confirmFormSubmission()" value="Create passenger for reservation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    @*<a asp-action="FinishReservation">Finish reservation</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
