@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <img src="~/home.jpg" style="
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;">
    </p>

</div>


